<!DOCTYPE html>
<html>
<head>
<title style="color:red;">ANSIBLE</title>
</head>
<body>

<h1 style="color:blue;">In this webserver, I'm creating a html file</h1>
<p syle="color:blue;">This html file includes styles,colors.</p>

</body>
</html>